<label
  class="dropdown-input-combo__dropdown-label
    {{if visuallyHideLabels "visually-hidden" ""}}"
  for={{concat elementId '-selector'}}
>
  {{dropdownLabel}}
</label>
<select
  class="drowdown-input-combo__dropdown"
  id={{concat elementId '-selector'}}
  onChange={{action 'dropdownChange'}}
>
  {{#each options as |option index|}}
    <option
      value={{option.value}}
      selected={{eq currentOption option}}
    >
      {{option.displayText}}
    </option>
  {{/each}}
</select>
<label
  class="drowdown-input-combo__input-label
    {{if visuallyHideLabels "visually-hidden" ""}}"
  for={{concat elementId "-input"}}
>
  the input
</label>
<input
  class="drowdown-input-combo__input"
  id={{concat elementId '-input'}}
  placeholder={{currentOption.placeholder}}
  onChange={{action inputChangedAction}}
/>
